f {
    position: relative;
    color: white;
    white-space: nowrap;
    font: bold 10pt Arial;
    bottom: 5px;
    float: left;
    overflow: hidden;
    max-width: 200px;
    text-overflow: ellipsis;
}
#CC_pin_items {
     left: 656px!important;
}
.upgrade_items .textart_title {
     color: #ffe7b100!important;
     margin-left: 0px!important;
     margin-right: 0px!important;
     background: url(https://jamzask.github.io/TWInventoryReloaded/menu/item_level.png) no-repeat!important;
     top: 11px!important;
     width: 16px!important;
     height: 16px!important;
}
.inventory .actions .upgrade_items {
     left: 295px!important;
     min-width: 16px!important;
     width: 16px!important;
}	
.inventory .open_search {
     right: 65px!important;
}		
#bag .item.item_inventory {
     margin-bottom: 0px!important;
     width: 60px !important;
     height: 60px !important;
}
#inventory_menust:hover {
     background: url(https://jamzask.github.io/TWInventoryReloaded/ikony/donateicon-hover.png)!important;
}
.tw2gui_window_buttons {
     width: auto!important;
}	
#inventory_overlay  {
     position: absolute;
     display: none;
     height: 500px;
     width: 721px;
}
#windows .inventory {
    width: 740px!important;
}
#windows .inventory .filters {
    width: 690px!important;
    white-space: nowrap!important;
    overflow-x: scroll!important;
    overflow-y: hidden!important;
    display: inline-block!important;
    height: 46px!important;
    overflow: hidden!important;
}
#bag {
    width: 672px!important;
    height: 360px!important;
    text-align: center!important;
    color: rgb(255, 231, 177)!important;
    margin-bottom: -14px!important;
    margin-left: 10px!important;
    top: -3px!important;
}
div.tw2gui_window.inventory div.tw2gui_inner_window_bg {
    background: url(https://jamzask.github.io/TWInventoryReloaded/bg/window2_bg_topv3.png) center bottom no-repeat;
    margin-top: 2px!important;
}
div.tw2gui_selectbox ul.tw2gui_selectbox_content {
	min-width: 100px!important;
}
.inventory .bag_navigation {
    margin: 2px 50px 0;
}
.inventory .bag_control {
    width: 9px!important;
    top: 24px!important;
    background: url(https://jamzask.github.io/TWInventoryReloaded/bg/arrows.png);
}
.inventory .bag_next {
    background-position: -50px 0px!important;
    right: 170px!important;
}
.inventory .bag_previous {
    background-position: -31px 0px!important;
    left: 170px!important;
}
.inventory .bag_pages {
    display: none!important;
}
.inventory .filters .filter_inventory {
    display: inline-block;
    height: 46px;
    width: 43px;
    background: url(https://jamzask.github.io/TWInventoryReloaded/menu/iconv3.png) no-repeat;
    vertical-align: middle;
    cursor: pointer;
}
.search_container {
    position: absolute;
    display: none;
    width: 256px;
    height: 49px;
    bottom: 40px;
    left: 35%;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.inventory .filters .filter_animal {
    background-position: -45px -44px;
}
.inventory .filters .filter_animal.active {
    background-position: -45px -136px;
}
.inventory .filters .filter_head {
    background-position: -174px 0;
}
.inventory .filters .filter_head.active {
    background-position: -172px -92px;
}
.inventory .filters .filter_right_arm {
    background-position: -88px -44px;
}
.inventory .filters .filter_right_arm.active {
    background-position: -86px -136px;
}
.inventory .filters .filter_left_arm {
    background-position: -131px -44px;
}
.inventory .filters .filter_left_arm.active {
    background-position: -130px -136px;
}
.inventory .filters .filter_body {
    background-position: -88px 0;
}
.inventory .filters .filter_body.active {
    background-position: -88px -92px;
}
.inventory .filters .filter_belt {
    background-position: -45px 0;
}
.inventory .filters .filter_belt.active {
    background-position: -45px -92px;
}
.inventory .filters .filter_pants {
    background-position: -2px -44px;
}
.inventory .filters .filter_pants.active {
    background-position: -2px -136px;
}
.inventory .filters .filter_foot {
    background-position: -131px 0;
}
.inventory .filters .filter_foot.active {
    background-position: -131px -92px;
}
.inventory .filters .filter_neck {
    background-position: -217px 0;
}
.inventory .filters .filter_neck.active {
    background-position: -215px -92px;
}
.inventory .filters .filter_yield {
    background-position: -174px -44px;
}
.inventory .filters .filter_yield.active {
    background-position: -172px -136px;
}
.inventory .filters .filter_new {
    background-position: -2px 0;
}
.inventory .filters .filter_new.active {
    background-position: -2px -92px;
}
.inventory .filters .filter_upgradeable {
    background-position: -217px -44px;
}
.inventory .filters .filter_upgradeable.active {
    background-position: -216px -136px;
}
