#windows .inventory {
    width: 740px!important;
}
#windows .inventory .filters {
    width: 690px!important;
}
#bag {
    width: 672px!important;
    height: 348px!important;
}
div.tw2gui_window.inventory div.tw2gui_inner_window_bg {
    background: url(https://jamzask.github.io/TWInventoryReloaded/window2_bg.jpg) center bottom no-repeat!important;
    margin-top: 2px!important;
}
.inventory .bag_navigation {
    margin: 2px 50px 0;
}
.inventory .bag_control {
    width: 15px;
    top: 25px;
    background: url(https://jamzask.github.io/TWInventoryReloaded/arrows.png);
}
.inventory .bag_next {
    background-position: -68px 0px;
}
.inventory .bag_previous {
    background-position: 0px 0px;
}
.inventory .filters .filter_inventory {
    display: inline-block;
    height: 46px;
    width: 43px;
    background: url(https://jamzask.github.io/TWInventoryReloaded/icon.png) no-repeat;
    vertical-align: middle;
    cursor: pointer;
}
.search_container {
    position: absolute;
    display: none;
    width: 256px;
    height: 49px;
    bottom: 40px;
    left: 35%;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.inventory .filters .filter_animal {
    background-position: -45px -44px;
}
.inventory .filters .filter_animal.active {
    background-position: -45px -136px;
}
.inventory .filters .filter_head {
    background-position: -174px 0;
}
.inventory .filters .filter_head.active {
    background-position: -174px -92px;
}
.inventory .filters .filter_right_arm {
    background-position: -88px -44px;
}
.inventory .filters .filter_right_arm.active {
    background-position: -88px -136px;
}
.inventory .filters .filter_left_arm {
    background-position: -131px -44px;
}
.inventory .filters .filter_left_arm.active {
    background-position: -131px -136px;
}
.inventory .filters .filter_body {
    background-position: -88px 0;
}
.inventory .filters .filter_body.active {
    background-position: -88px -92px;
}
.inventory .filters .filter_belt {
    background-position: -45px 0;
}
.inventory .filters .filter_belt.active {
    background-position: -45px -92px;
}
.inventory .filters .filter_pants {
    background-position: -2px -44px;
}
.inventory .filters .filter_pants.active {
    background-position: -2px -136px;
}
.inventory .filters .filter_foot {
    background-position: -131px 0;
}
.inventory .filters .filter_foot.active {
    background-position: -131px -92px;
}
.inventory .filters .filter_neck {
    background-position: -217px 0;
}
.inventory .filters .filter_neck.active {
    background-position: -217px -92px;
}
.inventory .filters .filter_yield {
    background-position: -174px -44px;
}
.inventory .filters .filter_yield.active {
    background-position: -174px -136px;
}
.inventory .filters .filter_new {
    background-position: -2px 0;
}
.inventory .filters .filter_new.active {
    background-position: -2px -92px;
}
.inventory .filters .filter_upgradeable {
    background-position: -217px -44px;
}
.inventory .filters .filter_upgradeable.active {
    background-position: -217px -136px;
}
.inventory .filters .filter_ricet {
    background-position: -174px -44px;
}
.inventory .filters .filter_ricet.active {
    background-position: -174px -136px;
}
